<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Organization</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
		<style>
			.section-body{
				text-align:center;
			}
			.central-box{
				display:inline-block;
				width:24%;
				margin: 0 auto;
				box-sizing: border-box;
				margin-top: 10px;
				padding: 10px;
			}
			.business-box{
				display:inline-block;
				width:24%;
				margin: 0 auto;
				box-sizing: border-box;
				margin-top: 10px;
				padding: 10px;
			}
			.business-submit-button, .central-submit-button{
				width: 100%;
				padding: 25px 0px;
				text-align: center;
				display: block;
				border: none;
				background: #17a261;
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				border-radius: 5px;
				transition: 0.5s;
			}
			.central-submit-button{
				background: red;
			}
			.business-submit-button i, .central-submit-button i{
				font-size: 45px;
			}
			.business-submit-button:hover{
				box-shadow: 0px 0px 15px #d6cccc;
				background: #0987c5;
			}

			@media only screen and (max-width: 600px) {
				.business-box{
					width:49%;
				}
				.central-box{
					width:49%;
				}
			}
		</style>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li class="active"><a th:href="@{/business}">Organization</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right navbar-action-buttons">
										<li><a th:href="@{/clearlogincache}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
									</ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<!-- Section data maintenance -->
						<section th:if="${centralAvailable}" id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Central</h1>
							</div>
							<div class="section-body">
								<div th:if="${param.error}" style="color: red; margin-top: 20px !important; font-size: 20px; text-align: center; margin-top: -10px;">Please don't tamper with data. This incident will be reported to the System Admin</div>

								<div th:if="${business.central}" th:each="business : ${businesses}" class="business-box">
									<form id="${business.zid}" class="sign-in-form" role="form" th:action="@{/login}" method="post" autocomplete="off">
										<input type="hidden" name="username" th:value="${business.username}"/>
										<input type="hidden" name="password" th:value="${business.password}"/>
										<input type="hidden" name="zid" th:value="${business.zid}"/>
										<button type="submit" class="central-submit-button"><i class="fas fa-hotel"></i><h4 th:text="${business.businessName}"></h4></button>
									</form>
								</div>
							</div>
						</section>
					
						<!-- Section data maintenance -->
						<section th:if="${branchAvailable}" id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Choose Your Branch</h1>
							</div>
							<div class="section-body">
								<div th:if="${param.error}" style="color: red; margin-top: 20px !important; font-size: 20px; text-align: center; margin-top: -10px;">Please don't tamper with data. This incident will be reported to the System Admin</div>

								<div th:if="${business.branch}" th:each="business : ${businesses}" class="business-box">
									<form id="${business.zid}" class="sign-in-form" role="form" th:action="@{/login}" method="post" autocomplete="off">
										<input type="hidden" name="username" th:value="${business.username}"/>
										<input type="hidden" name="password" th:value="${business.password}"/>
										<input type="hidden" name="zid" th:value="${business.zid}"/>
										<button type="submit" class="business-submit-button"><i class="fas fa-store"></i><h4 th:text="${business.businessName}"></h4></button>
									</form>
								</div>
							</div>
						</section>

					</div>
				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
