<!-- Modal -->
<div id="oporddetailfoodmodal" th:fragment="oporddetailfoodmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Add/Update Item</h4>
			</div>
			<div class="modal-body">
				<div class="sub-item-box">
					<div class="row">
	
						<form id="mainform-modal" th:action="@{/conventionmanagement/hallbooking/oporddetails/food/save}" method="post" class="form-horizontal" th:object="${oporddetail}">
							<input type="hidden" th:field="*{xordernum}"/>
							<input type="hidden" th:field="*{xrow}"/>
							<div class="col-md-6">
								<div class="form-group" th:if="${oporddetail.xrow == 0}">
									<label class="control-label col-sm-4" for="xitem">Item : </label>
									<div class="col-sm-8 sub-item-fragment">
										<input 	type="text" 
												class="form-control searchsuggest xitemsearch" 
												placeholder="Search..." 
												required="required"
												th:value="${oporddetail.xitem}" 
												th:attr="search-url='search/caitem/food'"/>
										<input type="hidden" id="search-val" th:field="*{xitem}" value=""/>
										<input type="hidden" id="search-des" th:value="*{xitem}"/>
									</div>
								</div>
								<div class="form-group" th:if="${oporddetail.xrow != 0}">
									<label class="control-label col-sm-4" for="xitem">Item : </label>
									<div class="col-sm-8">
										<input type="hidden" th:field="*{xitem}"/>
										<input type="text" th:value="${oporddetail.xitem} + ' - ' + ${oporddetail.xdesc}" class="form-control xunitpur-display" disabled="disabled"/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4" for="xunit">Unit : </label>
									<div class="col-sm-8">
										<input type="hidden" th:field="*{xunit}"/>
										<input type="text" th:value="${oporddetail.xunit}" class="form-control xunitpur-display" disabled="disabled"/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4" for="xqtyord">Qty : </label>
									<div class="col-sm-8">
										<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xqtyord}" min="0"/>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4" for="xrate">Rate : </label>
									<div class="col-sm-8">
										<input type="text" data-smk-type="decimal" class="form-control" th:field="*{xrate}" min="0"/>
									</div>
								</div>
							</div>
							<div class="col-md-6">
							</div>
						</form>
					</div>

					<div class="row ingtable" th:classappend="${#lists.isEmpty(subitems) ? 'nodisplay' : ''}">
						<h4 class="text-center">Ingredients</h4>
						<div class="col-md-12">
							<div id="oporddetailfoodmodaltable" th:fragment="oporddetailfoodmodaltable">
								<table class="table table-striped table-bordered nowrap subitemtable">
									<thead>
										<tr>
											<th>Item</th>
											<th>Quantity</th>
											<th>Unit</th>
											<th data-nosort="Y" style="text-align: right;">
												<button type="button" class="btn btn-success item-add-btn"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="s,n : ${subitems}">
											<td>
												<input type="hidden" class="itemcode" th:value="${s.xitem}"/>
												<span th:text="${s.xitem} + ' - ' + ${s.xdesc}"></span>
											</td>
											<td>
												<input type="number" class="form-control itemqty" style="width: 100px;" th:value="${s.xqtyord}" min="0"/>
											</td>
											<td>
												<input type="hidden" class="itemunit" th:value="${s.xunit}"/>
												<span th:text="${s.xunit}"></span>
											</td>
											<td style="text-align: right;">
												<button type="button" class="btn btn-danger item-remove-btn"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
								<script type="text/javascript">
									$(document).ready(function(){
										var itemsList = [];

										function loadItemsList(){
											itemsList = [];
											$.each($('.itemcode'), function(i, item){
												itemsList.push($(item).val());
											})
										}

										function bindButtonEvent(){
											$('.back-btn').off('click').on('click', function(e){
												displayMain();
											});

											$('.subitem-submit').off('click').on('click', function(e){
												if($('input[name="xsubitem"]').val() == '' || $('input[name="xsubqtyord"]') == '' || $('input[name="xsubunit"]') == '') return;

												// validate item exist
												loadItemsList();
												if(itemsList.includes($('input[name="xsubitem"]').val())) {
													showMessage("error", "Item already added");
													return;
												}

												var subdata = {
													xitem : $('input[name="xsubitem"]').val(),
													xitemdes : $('input[name="xsubitemfulldes"]').val(),
													xqtyord : $('input[name="xsubqtyord"]').val(),
													xunit : $('input[name="xsubunit"]').val()
												}
												displayMain();

												var row = 	'<tr>'+
																'<td><input type="hidden" class="itemcode" value="'+ subdata.xitem +'"/>'+ subdata.xitemdes +'</td>' +
																'<td><input type="number" value="'+ subdata.xqtyord +'" class="form-control itemqty" style="width: 100px;" min="0"/></td>' + 
																'<td><input type="hidden" class="itemunit" value="'+ subdata.xunit +'"/>'+ subdata.xunit +'</td>' + 
																'<td style="text-align: right;"><button type="button" class="btn btn-danger item-remove-btn"><i class="fas fa-trash"></i></button></td>' + 
															'</tr>';

												$('.subitemtable tr:last').after(row);

												$('#subitemform').trigger('reset');
												$('input[name="xsubitem"]').val('');
												$('input[name="xsubitemfulldes"]').val('');
												bindButtonEvent();

												loadItemsList();
											});


											$('.item-remove-btn').off('click').on('click', function(e){
												e.preventDefault();
												$($(this).parent()).parent().remove();

												loadItemsList();
											})

										}

										function displaySub(){
											$('.sub-item-box').addClass('nodisplay');
											$('.submit-mainitem').addClass('nodisplay');
											$('.close-btn').addClass('nodisplay');
											$('.sub-item-box2').removeClass('nodisplay');
											$('.subitem-submit').removeClass('nodisplay');
											$('.back-btn').removeClass('nodisplay');
											$('.sub-item-box2').css({'height':'auto'});
											bindButtonEvent();
										}

										function displayMain(){
											$('.sub-item-box').removeClass('nodisplay');
											$('.submit-mainitem').removeClass('nodisplay');
											$('.close-btn').removeClass('nodisplay');
											$('.sub-item-box2').addClass('nodisplay');
											$('.subitem-submit').addClass('nodisplay');
											$('.back-btn').addClass('nodisplay');
											$('.sub-item-box2').css({'height':'auto'});
											bindButtonEvent();
										}

										$('.item-add-btn').off('click').on('click', function(e){
											e.preventDefault();
											displaySub();
										});

										bindButtonEvent();
									})
								</script>
							</div>
						</div>
					</div>
				</div>

				<!-- sub item search -->
				<div class="sub-item-box2 nodisplay" style="min-height: 100px;">
					<form id="subitemform" method="post" action="" class="form-horizontal">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="xsubitem">Item : </label>
								<div class="col-sm-8 sub-item-fragment">
									<input 	type="text" 
											class="form-control searchsuggest xsubitemsearch" 
											placeholder="Search..." 
											required="required" 
											th:attr="search-url='search/caitem/food/withoutset'"/>
									<input type="hidden" id="search-val" name="xsubitem" value=""/>
									<input type="hidden" id="search-des" value="" name="xsubitemfulldes"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xsubqtyord">Qty : </label>
								<div class="col-sm-8">
									<input type="text" data-smk-type="decimal" class="form-control" id="xsubqtyord" name="xsubqtyord" min="0"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xsubunit">Unit : </label>
								<div class="col-sm-8">
									<input type="text" id="xsubunit" name="xsubunit" class="form-control" readonly="readonly"/>
								</div>
							</div>
						</div>
						<div class="col-md-6">
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm submit-mainitem">Submit</button>
				<button type="button" class="btn btn-success btn-sm subitem-submit nodisplay">Add</button>
				<button type="button" class="btn btn-default btn-sm close-btn" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-default btn-sm back-btn nodisplay">Back</button>
			</div>
			<script type="text/javascript">
				$(document).ready(function(){
					// Init ui for modal
					ck.ui.config.buttonevent();
					modalDataTableInit();

					var olditem = $('input[name="xitem"]').val();

					// Get item purchase unit
					$('.xitemsearch').on('blur', function(){

						setTimeout(() => {
							if($('input[name="xitem"]').val() == ''){
								$('input[name="xunit"]').val("");
								$('input.xunitpur-display').val("");
								$('input#xqtyord').val("0");
								$('input#xrate').val("0");
								return;
							}

							if(olditem != '' && olditem == $('input[name="xitem"]').val()) return;

							loadingMask2.show();
							$.ajax({
								url : getBasepath() + '/conventionmanagement/hallbooking/itemdetail/' + $('input[name="xitem"]').val(),
								type : 'GET',
								success : function(data) {
									loadingMask2.hide();
									$('input[name="xunit"]').val(data.xunitpur);
									$('input.xunitpur-display').val(data.xunitpur);
									$('input#xqtyord').val(data.xminqty);
									$('input#xrate').val(data.xrate);

									if(data.xsetmenu){
										$('.ingtable').removeClass('nodisplay');

										// load table
										$.ajax({
											url : getBasepath() + '/conventionmanagement/hallbooking/subitemdetails/' + data.xitem,
											type : 'GET',
											success : function(data) {
												loadingMask2.hide();
												var wrapperelement = $('#oporddetailfoodmodaltable_wrapper');
												if($(wrapperelement).length > 0){
													wrapperelement.html("");
													wrapperelement.append(data);
													dataTableInitSpecific("oporddetailfoodmodaltable");
												} else {
													var target = $('#oporddetailfoodmodaltable');
													var parentElement = target.parent();
													parentElement.html("");
													parentElement.append(data);
													bindTableButtonsEvent($('#oporddetailfoodmodaltable'));
												}
											}, 
											error : function(jqXHR, status, errorThrown){
												showMessage(status, "Something went wrong .... ");
												loadingMask2.hide();
											}
										});
									} else {
										$('.ingtable').addClass('nodisplay');
									}

								},
								error : function(jqXHR, status, errorThrown){
									showMessage(status, "Something went wrong .... ");
									loadingMask2.hide()
								}
							})
						}, 1000);
					});



					// Sub item search
					$('.xsubitemsearch').on('blur', function(){

						setTimeout(() => {
							if($('input[name="xsubitem"]').val() == ''){
								$('input[name="xsubunit"]').val("");
								$('input#xsubqtyord').val("0.00");
								return;
							}

							loadingMask2.show();
							$.ajax({
								url : getBasepath() + '/conventionmanagement/hallbooking/itemdetail/' + $('input[name="xsubitem"]').val(),
								type : 'GET',
								success : function(data) {
									loadingMask2.hide();
									$('input[name="xsubunit"]').val(data.xunitpur);
									$('input#xsubqtyord').val(data.xminqty);
								},
								error : function(jqXHR, status, errorThrown){
									showMessage(status, "Something went wrong .... ");
									loadingMask2.hide()
								}
							})
						}, 1000);
					});

					// Submit modal form
					$('.submit-mainitem').off('click').on('click', function(e){
						e.preventDefault();
						console.log("form submitted");

						var oporddetail = {};
						oporddetail.xitem = $('input[name="xitem"]').val();
						oporddetail.xqtyord = $('input[name="xqtyord"]').val();
						oporddetail.xunit = $('input[name="xunit"]').val();
						oporddetail.xordernum = $('input[name="xordernum"]').val();
						oporddetail.xrow = $('input[name="xrow"]').val();
						oporddetail.xrate = $('input[name="xrate"]').val();

						var subitems = [];
						$.each($('.subitemtable tbody').find('tr'), function(i, item){
							var itemcode = $(item).find('input.itemcode');
							var itemqty = $(item).find('input.itemqty');
							var itemunit = $(item).find('input.itemunit');

							subitems.push({
								xitem : $(itemcode).val(),
								xqtyord : $(itemqty).val(),
								xunit : $(itemunit).val(),
								xordernum : $('input[name="xordernum"]').val()
							});
						})

						oporddetail.subitems = subitems;
						console.log({oporddetail});

						$.ajax({
							url : getBasepath() + '/conventionmanagement/hallbooking/foodoporddetail/save',
							type : 'POST',
							dataType : 'json', 
							data: JSON.stringify(oporddetail),
							beforeSend: function(xhr) {
								xhr.setRequestHeader("Accept", "application/json");
								xhr.setRequestHeader("Content-Type", "application/json");
							},
							success : function(data) {
								loadingMask2.hide();
								if(data.status == 'SUCCESS'){
									$('div.modal').modal('hide');
									showMessage(data.status.toLowerCase(), data.message);
									if(data.triggermodalurl){
										modalLoader(getBasepath() + data.triggermodalurl, data.modalid);
									} else {
										if(data.redirecturl){
											setTimeout(() => {
												window.location.replace(getBasepath() + data.redirecturl);
											}, 1000);
										} else if(data.reloadurl){
											doSectionReloadWithNewData(data);
										}
									}
								} else {
									showMessage(data.status.toLowerCase(), data.message);
								}
							},
							error : function(jqXHR, status, errorThrown){
								showMessage(status, "Something went wrong .... ");
								loadingMask2.hide()
							}
						});
						
					})
				})
			</script>
		</div>
	</div>
</div>